body{
    font-size: 14px;
    margin: 0;padding: 0;
}
.container{
    width:100%;
    height:800px;
}

.zhuanlan{
    color:white;
    position: absolute;
    margin-top: 12px;
}
.header{
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(0,183,142);

}
.user-info{
    float: right;
    margin-left: 850px;
}
.user-info img{
    padding-top: 10px;
}
#user_number{
    position: relative;
    left:0px;
    top:-8px;
}
.mainContent{
    position:relative;
    width:100%
height: 500px;
}
.sidebar{
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height: 720px;
    color: white;
    background-color: rgb(65,65,70);
    border-bottom: solid 1px rgb(84,84,87);
}
.wenzhang2{
    margin-bottom: 10px;
    border-bottom: solid 1px rgb(84,84,87);

}
.wenzhang{
    position: absolute;
    margin-top:8px;
}
.accountManage{
    padding:10px;
    border-bottom: solid 1px rgb(84,84,87);

}
.accountManage2{

}
.myManage2{
    padding: 5px;
    background-color: rgb(92,92,99);
}
.arrow{
}
.accountManage2{
    position: absolute;
    margin-top:15px;
}
.myManage{
    padding:10px;
}
.checked{
    margin-top: 10px;
}
.article_manage{
    color:white;
    margin-left: 10px;
    padding:10px;
}
.account_manage{
    color:white;
    margin-left: 10px; padding:10px;
}
.myArticle,.newArticle,.resetPwd{
    margin-left: 15px;
    margin-bottom: 10px;
}
.resetPwd{
    background-color: rgb(102,102,102);
    height:30px;
    padding-left: 5px;
    padding-top:12px;
    color:white;
    content: "??";

}
.article_manage p,.account_manage p {
    font-weight: bold;
}
.editor_content{
    position: relative;
    margin-left:210px;
}
.save{
    margin-bottom: 10px;
    position: relative;
    height: 50px;
}
.save2{
    padding-top: 6px;
    width: 120px;
    height:30px;
    color:white;
    box-shadow: black;
    text-align: center;
    background-color: rgb(42,42,42);
}
.tips{
    padding-top: 15px;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(240,234,206);
}
.tipsTitle{
    position:absolute;
    margin-top: -10px;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    color: rgb(239,109,12);
    margin-left: 10px;
}
.star{
    color: rgb(239,109,12);
    margin-right: 20px;
}
.originPwd{

    margin-left: 100px;
    margin-bottom: 10px;
}
.originPwd2{
    margin-left: 114px;
}
a{
    text-decoration: none;
}

a:link,a:hover,a:visited,a:active{
    color:black;
}
input[type="password"]{
    width:250px;
    height: 30px;
    margin-left: 20px;
    padding-left: 10px;
}
#title{
    display: block;
    width:100%;
    min-width: 800px;
}
#source{
    display: block;
    margin:10px 0;
    height:30px;
    width:100%;
    min-width: 800px;
}
.prompt{
    color: #aa1111;
    display: none;
    margin-left: 30px;
}
.fred{
    color: darkred;
    font-size: 14px;
}
.fgreed{
    color: darkgreen;
    font-size: 14px;
}

#submit{
    border:none;
    margin-top: 13px;
    border-radius: 5px;
    background-color: rgb(5,215,118);
    margin-right: 10px;
    color:white;
}
.draft{
    padding-top: 6px;
    width: 120px;
    height:30px;
    color:white;
    box-shadow: black;
    text-align: center;
    border:none;
    margin-top: 13px;
    border-radius: 5px;
    background-color: rgb(249,110,67);
    margin-right: 10px;
}
.picture{
    padding-top: 6px;
    width: 120px;
    height:30px;
    color:white;
    box-shadow: black;
    text-align: center;
    border:none;
    margin-top: 13px;
    border-radius: 5px;
    background-color: rgb(249,110,67);
    margin-right: 10px;
    float:right;
}
#myForm{
    position: relative;
}
.whole{
    background-color: rgb(234,237,242);padding-top: 50px;
    height: 525px;
}
.managePicture{
    position: absolute;
    top:45px;
    left:670px;

}
.managePicture p{
    background-color: rgb(242,242,242);
    border: solid 1px rgb(242,242,242);
    width:200px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}
.ulPicture{
    border:solid 1px rgb(242,242,242);
    width:170px;
    list-style: none;
}
.uploadImage{
    padding-top: 5px;
    padding-left: 40px;
    height:25px;
    width:90px;
    line-height: 20px;
    position: absolute;
    top:15px;
    left:700px;
    cursor: pointer;
    color: white;
    background: rgb(76,138,241);
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}
.upload input{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width:30px;
    cursor: pointer
}
.copy{
    border:solid 1px rgb(42,42,42);
    margin-top: 10px;
    margin-left: 5px;
    padding:2px;
    font-size:10px;
    color:black;
    box-shadow: rgb(186,186,186);
}
.addPicture{
    margin-left: 15px;
    display: block;
    width:50px;
    heigth:50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.liPicture{
    float:left;
    width:77px;
    heigth:70px;
}